[NetDev]
Name=wg0
Kind=wireguard
Description=WireGuard tunnel wg0

[WireGuard]
ListenPort=51820
PrivateKeyFile=/etc/systemd/network/990-wg0.netdev.d/keys/wgserver.key

